*{
    font-family: 'Raleway', sans-serif;
}

/*body_marge*/
body{
    
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
}

/*header_nav*/
.menu_de_navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    align-items: flex-end;
    border: solid white 1px;
    height: 50px;
}

.nav{
    font-size: 1em;
    font-weight: 700;
    color: #0065FC;
    text-decoration: none;
    padding-left: 5vmin;
    padding-right: 5vmin;
}

nav ul li a:hover{
    border-top: solid #0065FC 0.2em;
    padding-top: 2.8em;
}

/*header-logo+titre*/
#logo_reservia{
    height: 3.5em;
    margin-top: -3%;
}

header div h1{
    font-size: 1.5em;
    font-weight: 900;
}

header div p{
    font-size: 1em;
    font-weight: 700;
    color: black;
}

/*header-recherche*/
.ligne_de_recherche{
    border: solid white 1px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;

}
#loc{
    color: black;
    border: solid #F2F2F2 1px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 2.5em;
    width: 2.5em;
}

input, button:focus{
    outline:0;
}

.tapetext{
    color:black;
    border: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    padding-left: 1%;
    width: 12em;
    font-size: 1.2em;
    font-weight: 900;
}

button{
    border: solid #0065FC 1px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #0065FC;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    width: 9em;
}

/*header-filtres-et-infos*/
.groupe_filtre{
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 900;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}
.reglage_filtre{
    border:solid #F2F2F2 2px;
    border-left-color: #DEEBFF;
    border-radius: 50px;
    padding-right: 1em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reglage_filtre:hover{
    box-shadow: grey 2px 2px 3px;
}

header ul li .fas{
    margin-right: 0.5em;
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    color: #0065FC;
    background-color: #DEEBFF;
    border: solid #DEEBFF 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information_logement_disponible{
    border: solid white 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#info_ville{
    border:solid #DEEBFF 1px;
    border-radius: 50%;
    color: #0065FC;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    font-weight: 900;
    font-size: 1em;
}

/*mise-en-page-hebergement-et-populaire*/
.mise_en_page_1{
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section_hebergement{
    border: solid #F2F2F2 1px;
    background-color: #F2F2F2;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 67%;
    max-width: 1000px;
    min-height: 650px;
    max-height: 1000px;
}

h2{
    font-weight: 900;
}

.flex_titre1{
    border: none;
    margin-left: 4%;
    width:100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#afficher_plus{
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    font-weight: 900;
    padding-left: 4%;
}

.section_populaire{
    border: solid #F2F2F2 1px;
    background-color: #F2F2F2;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 30%;
    min-width: 390px;
    max-width: 550px;
}

.flex_titre2{
    border: none;
    width:100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

/*dimension-des-contenus-hebergement-et-populaire*/
.dim_img{
    height:120px;
    width: 240px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.dim_img2{
    height:145px;
    width: 145px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.dimention_etiquette{
    border:solid white 3px;
    background-color: white;
    border-radius: 2em;
    height: 200px;
    width: 240px;
    padding-left: 0px;
    font-size: 14px;
}

.dimention_etiquette:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette2:hover{
    box-shadow: grey 0px 2px 3px;
}

.dimention_etiquette h3, p, aside{
    margin:auto 8px;  
    padding-top: 4px;
    font-weight: 700; 
}

.dimention_etiquette2{
    border:solid white 3px;
    background-color: white;
    border-radius: 2em;
    width: 80%;
    height: 145px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

.dimention_etiquette2 h3, p, aside{
    margin:auto 8px;  
    padding-top: 8px;

}
.dimention_etiquette2 aside{
    padding-top: 30%;
}

.fas{
    color: #0065FC;
}

/*mise-en-page-activité-à-Marseille*/
.mise_en_page_2{
    border: none;
}

.section_activité{
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8em;
}

.-column-{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex_titre3{
    border: none;
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.dim_img3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 400px;
    width: 300px;
}

.dimention_etiquette3{
    border: none;
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
}

.dim_img4{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 180px;
    width: 300px;
}

.dimention_etiquette4{
    border: none;
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    max-height: 290px;
}

.dim_img5{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 120px;
    width: 300px;
}

.dimention_etiquette5{
    border: none;
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    max-height: 210px;
}

.dim_img6{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;
    width: 300px;
}

.dimention_etiquette6{
    border: none;
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    height: 220px;
}

.dimention_etiquette3:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette4:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette5:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette6:hover{
    box-shadow: grey 0px 2px 3px;
}

.agencement{
    padding-left: 15px;
}

/*réglage-du-footer*/
.footer{
    border: solid black 1px;
    width: 80%;
}

.reglage_footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reglage_footer ul{
    border: solid black 1px;
    list-style-type: none;
    text-decoration: none;
    width: 200px;
}
.reglage_footer ul a{
    text-decoration: none;
}

.remplissage{
    border: solid black 1px;
    width: 100%;
}