@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*body_marge*/
body{
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}
.ajustement{
    margin-left: 4%;
    margin-right: 4%;
}

/*header_nav*/
.menu_de_navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.reglage_nav{
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 70px;
}

.reglage_nav2{
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 70px;
}


.inscription{
    padding: 0;
}

#ablack{
    color: black;
}

.menu_smart{
    display: flex;
}

.nav{
    font-weight: 700;
    color: #0065FC;
    text-decoration: none;
}

.reglage_nav:hover{
    border-top: solid #0065FC 0.2em;
}
.reglage_nav2:hover{
    border-top: solid #0065FC 0.2em;
}
.reglage_nav3:hover{
    border-top: solid #0065FC 0.2em;
}

@media screen and (max-width: 1024px){

    .ajustement{
        margin-left: 0%;
        margin-right: 0%;
    }

    .menu_de_navigation{
        flex-direction: column-reverse;
        height: auto;
    }
    .reglage_nav{
        border-bottom: solid  #0065FC 2px;
    }
    .reglage_nav:nth-child(2){
        border-bottom: solid #F2F2F2 2px;
        color: black;
    }
    .menu_smart .reglage_nav{
        width: 50%;
        height: 40px;
        justify-content: center;
    }

    .menu_smart{
        width: 100%;
        padding: 0;
    }

    .inscription{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 40px;
        padding:0px;
    }
    
    .reglage_nav:hover{
        border-top: none;
    }
    .reglage_nav2:hover{
        border-top: none;
    }
    .reglage_nav3:hover{
        border-top: none;
    }
}
/*header-logo+titre*/
#logo_reservia{
    height: 54px;
    position: absolute;
    top: 10px;
}

header div h1{
    font-size: 1.5em;
    font-weight: 900;
}

header div p{
    font-size: 1em;
    font-weight: 600;
    color: black;
}

/*header-recherche*/
.ligne_de_recherche{
    padding-top: 10px;
    display: flex;
}

@media screen and (max-width: 450px){
    .ligne_de_recherche{
        justify-content: center;
    }
}

@media screen and (min-width: 450px) and (max-width: 1024px){
    .ligne_de_recherche{
        justify-content: flex-start;
        padding-left: 10px;
    }
}
#loc{
    color: black;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
}

input, button:focus{
    outline:0;
}

.tapetext{
    color:black;
    border: solid #F2F2F2 1px;
    padding-left: 1%;
    width: 250px;
    font-size: 1.2em;
    font-weight: 900;
}

button{
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #0065FC;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    width: 130px;
}

.btn2{
    display: none;
    color: white;
}

@media screen and (max-width: 1024px){
    .btn1{
        display: none;
    }

    .btn2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #fasearch{
        color: white;
    }
    button{
        width: 52px;
        border-radius: 20%;
    }
}

/*header-filtres-et-infos*/
.groupe_filtre{
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 900;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}

.reglage_filtre{
    border:solid #F2F2F2 2px;
    border-left-color: #DEEBFF;
    border-radius: 50px;
    padding-right: 1em;
    width: auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px){
    .groupe_filtre{
        width: 100%;
    }

    .reglage_filtre{
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 5px;
    }

    .filtre{
        width: 100%;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    .info-ville{
        font-size: 14px;
        font-weight: 600;
    }
    .information_logement_disponible{
        padding-left: 10px;
    }
    .header_logo_et_titre h1{
        padding-left: 10px;

    }
}

.reglage_filtre:hover{
    box-shadow: grey 2px 2px 3px;
}

header ul li .fas{
    margin-right: 8px;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information_logement_disponible{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.info-ville{
    margin: 0px;
    padding: 0px;
}

#info_ville{
    border:solid #DEEBFF 1px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

/*mise-en-page-hebergement-et-populaire*/
.mise_en_page_1{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px){
    .mise_en_page_1{
        flex-direction: column-reverse;
    }
    div .flex_titre1{
        font-size: 13px;
        width: 80%;
        margin: 0;
    }
    div .flex_titre1 h2{
        margin-bottom: 0;
    }
}

.section_hebergement{
    background-color: #F2F2F2;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 20px;
    width: 67%;
    min-width: 760px;
    min-height: 670px;
}

@media screen and (max-width: 1024px){
    .section_hebergement{
        background: white;
        width: 100%;
        min-width: 0px;
        height: 1600px;
    }
}

h2{
    font-weight: 900;
}

.flex_titre1{
    margin-left: 4%;
    width:100%;
    height: 60px;
    flex-direction: row;
}

#afficher_plus{
    width: 100%;
    font-weight: 900;
}

@media screen and (max-width: 1024px){
    #afficher_plus{
        width: 80%;
    }
}


.section_populaire{
    border: none;
    background-color: #F2F2F2;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 670px;
    width: 30%;
    min-width: 370px;
    max-width: 550px;
}
@media screen and (max-width: 1024px){
    .section_populaire{
        width: 100%;
        height: 500px;
        padding-bottom: 20px;
        min-width: 0px;
        max-width: 1024px;
    }
}


.flex_titre2{
    border: none;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
@media screen and (max-width: 1024px){
    .flex_titre2{
        font-size: 13px;
        width: 80%;
        justify-content: space-between;
    }
} 

#etoile_grise1{
    color: #F2F2F2;
}
#etoile_grise2{
    color: #F2F2F2;
}
#etoile_grise3{
    color: #F2F2F2;
}
#etoile_grise4{
    color: #F2F2F2;
}
#etoile_grise5{
    color: #F2F2F2;
}
#etoile_grise6{
    color: #F2F2F2;
}
#etoile_grise7{
    color: #F2F2F2;
}
/*dimension-des-contenus-hebergement-et-populaire*/
.dim_img{
    height: 150px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.dim_img2{
    height:145px;
    width: 145px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}

.dimention_etiquette{
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border:solid #fffffe 2px;
    background-color: white;
    border-radius: 30px;
    height: 15%;
    width: 30%;
    padding-left: 0px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.dimention_etiquette p{
    font-weight: 200;
}

@media screen and (max-width: 1024px){
    .dimention_etiquette{
        width: 80%;
        min-width: 0px;
        max-width: 650px;
        height: auto;
    }
    .dim_img{
        height: 150px;
        min-height: 0px;
    }
}

.dimention_etiquette:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette2:hover{
    box-shadow: grey 0px 2px 3px;
}

.dimention_etiquette h3, p, aside{
    margin: auto;
    padding-left: 10px;  
    padding-top: 4px;
    padding-bottom: 8px;
    font-weight: 700; 
}

.dimention_etiquette aside{
    padding-left: 8px;
}

.dimention_etiquette2{
    border:solid #fffffe 2px;
    background-color: white;
    border-radius: 30px;
    width: 80%;
    height: 145px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    color: black;
    text-decoration: none;
}

.dimention_etiquette2 p{
    font-weight: 200;
}


@media screen and (max-width: 1024px){
    .dimention_etiquette2{
        width: 80%;
        min-width: 0px;
        max-width: 650px;
        height: auto;
    }
    .dim_img2{
        height: 120px;
        width: 120px;
        min-height: 0px;
    }
}

.dimention_etiquette2 h3, p, aside{
    margin: auto;  
    padding-top: 8px;

}
.dimention_etiquette2 aside{
    padding-top: 30%;
}
.dimention_etiquette2 p, aside{
    padding: 0;
}

#graph{
    color: black;
}

.fas{
    color: #0065FC;
}

/*mise-en-page-activité-à-Marseille*/

.section_activité{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.-column-{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media screen and (max-width: 1024px){
    .section_activité{
        align-items: center;
        justify-content: space-around;
        height: 1550px;
    }
}

.flex_titre3{
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .flex_titre3{
        width: 80%;
        font-size: 13px;
    }
}

.dim_img3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.dimention_etiquette3{
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .dimention_etiquette3{
        width: 80%;
        max-width: 650px;
        height: auto;
    }
    .dim_img3{
        height: 150px;
        width: 100%;
    }
}

.dim_img4{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 180px;
    width: 300px;
    object-fit: cover;
}

.dimention_etiquette4{
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    max-height: 290px;
    max-width: 650px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .dimention_etiquette4{
        width: 100%;
        max-width: 650px;
        height: auto;
    }
    .dim_img4{
        height: 150px;
        width: 100%;
    }
}

.dim_img5{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 120px;
    width: 300px;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    div .dimention_etiquette5{
        width: 100%;
        max-width: 650px;
        height: auto;
    }
    .dim_img5{
        height: 150px;
        width: 100%;
    }
    .-column-{
        width: 80%;
        height: 450px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }
}

.dimention_etiquette5{
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    max-height: 210px;
    color: black;
    text-decoration: none;
}

.dim_img6{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;
    width: 300px;
    object-fit: cover;
}

.dimention_etiquette6{
    box-shadow: #F2F2F2 0 1px 1px 2px;
    border-radius: 20px;
    width: 300px;
    height: 220px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    div .dimention_etiquette6{
        width: 100%;
        max-width: 650px;
        height: auto;
    }
    .dim_img6{
        height: 150px;
        width: 100%;
    }
}

.dimention_etiquette3:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette4:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette5:hover{
    box-shadow: grey 0px 2px 3px;
}
.dimention_etiquette6:hover{
    box-shadow: grey 0px 2px 3px;
}

.agencement{
    padding-left: 15px;
}

/*réglage-du-footer*/
.footer{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
}

.title{
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.title h4{
    margin-bottom: 0px;
    margin-top: 4px;
}

@media screen and (max-width: 1024px){
    .title h4{
        margin-bottom: 0px;
    }
}

.reglage_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 4%;
}

.reglage_footer ul{
    border: none;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px;
    padding-left: 0;
    width: auto;
}
.reglage_footer ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1em;
}

.reglage_footer ul li{
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px){
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .reglage_footer{
        height: auto;
        flex-direction: column;
        align-content:flex-start;
        padding-left: 0px;
    }
}
